04-rag-pipeline.json
{
  "name": "RAG",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1FezCpXibyGvyu-CG1plHTxBEHR_Nw0JS",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "your-uuid-here",
      "name": "ArquivoCriado",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Drive - Pessoal"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1FezCpXibyGvyu-CG1plHTxBEHR_Nw0JS",
          "mode": "id"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "your-uuid-here",
      "name": "ArquivoAtualizado",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Drive - Pessoal"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "your-uuid-here",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "your-uuid-here",
              "name": "file_name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        96
      ],
      "id": "your-uuid-here",
      "name": "Dados"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Dados').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        944,
        96
      ],
      "id": "your-uuid-here",
      "name": "BaixarArquivo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Drive - Pessoal"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1168,
        96
      ],
      "id": "your-uuid-here",
      "name": "ExtrairTexto"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1936,
        96
      ],
      "id": "your-uuid-here",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Supabase - Hash Beauty"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1824,
        320
      ],
      "id": "your-uuid-here",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gemini - Pessoal"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.documents }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Dados').item.json.file_id }}"
              },
              {
                "name": "file_name",
                "value": "={{ $('Dados').item.json.file_name }}"
              },
              {
                "name": "source",
                "value": "google_drive"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2032,
        336
      ],
      "id": "your-uuid-here",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 10000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2032,
        528
      ],
      "id": "your-uuid-here",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=eq.{{ $json.file_id }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        592,
        96
      ],
      "id": "your-uuid-here",
      "name": "DeletarAntigos",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Supabase - Hash Beauty"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const texto = $json[\"data\"] || $json[\"text\"] || \"\";\n\nconst blocos = texto\n  .split(/\\n# /)\n  .map(b => b.trim())\n  .filter(b => b.length > 0)\n  .map(b => b.startsWith('#') ? b : '# ' + b);\n\nreturn [{ json: { documents: blocos } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        96
      ],
      "id": "your-uuid-here",
      "name": "IdentificaSeparador"
    },
    {
      "parameters": {
        "content": "### **COMO USAR ESTE WORKFLOW**\n1. ANTES DE TUDO: Configure o Supabase\n\n- Crie a tabela *documents* e função *match_documents*\n- Link com as instruções: https://supabase.com/docs/guides/ai/langchain?database-method=sql\n\n2. Configure sua pasta no Google Drive\n\n3. NODES LARANJAS: Substitua para as suas credenciais\n\n4. Nos triggers, cole o ID da sua pasta do Drive\n\n5. Crie documento com estrutura:\n\n   ``` \n   # Título 1\n   Conteúdo...\n   \n   # Título 2\n   Conteúdo... \n   ```\n\n6. Ative o workflow e aguarde 1 minuto\n\n\n*Documentos serão vetorizados automaticamente!*",
        "height": 576,
        "width": 448,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        -144
      ],
      "id": "your-uuid-here",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### **MONITORA GOOGLE DRIVE**\nFica de olho na pasta configurada a cada 1 minuto. Ao criar ou atualizar documento → ativa o workflow.",
        "height": 512,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        -144
      ],
      "id": "your-uuid-here",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### **NORMALIZA INFORMAÇÕES**\nExtrai file_id e file_name do Google Drive. Facilita o uso nos próximos nodes.",
        "height": 320,
        "width": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        192,
        -32
      ],
      "id": "your-uuid-here",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### **REMOVE VERSÕES ANTIGAS**\nSe o arquivo foi atualizado, deleta os chunks antigos do Supabase. Evita informações duplicadas ou desatualizadas.",
        "height": 320,
        "width": 352,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        464,
        -32
      ],
      "id": "your-uuid-here",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### **BAIXA E CONVERTE**\n**BaixarArquivo:** puxa o Google Doc e converte para texto puro.\n**ExtrairTexto:** extrai o conteúdo em formato legível.",
        "height": 320,
        "width": 512,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        -32
      ],
      "id": "your-uuid-here",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "### **QUEBRA POR SEÇÕES**\nDivide o documento usando \"# Título\" como separador. Cada seção vira um chunk independente.",
        "height": 320,
        "width": 320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        -32
      ],
      "id": "your-uuid-here",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "### **VETORIZA E ARMAZENA**\nTransforma cada chunk em vetor (números) usando Gemini. Salva na tabela *documents* com metadata.",
        "height": 720,
        "width": 624,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1696,
        -32
      ],
      "id": "your-uuid-here",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "![Alt Text](https://www.hashtagtreinamentos.com/wp-content/uploads/2022/05/Logo-Hashtag-Original-1024x458.png.webp)",
        "height": 128,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        -288
      ],
      "id": "your-uuid-here",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "",
        "height": 1008,
        "width": 2880,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -544,
        -304
      ],
      "id": "your-uuid-here",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "",
        "width": 160,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        176
      ],
      "id": "your-uuid-here",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "",
        "width": 160,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        -16
      ],
      "id": "your-uuid-here",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "",
        "width": 160,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        80
      ],
      "id": "your-uuid-here",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "",
        "width": 160,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        912,
        80
      ],
      "id": "your-uuid-here",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "",
        "width": 176,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1776,
        304
      ],
      "id": "your-uuid-here",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "",
        "height": 144,
        "width": 256,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1920,
        80
      ],
      "id": "your-uuid-here",
      "name": "Sticky Note14"
    }
  ],
  "pinData": {},
  "connections": {
    "ArquivoCriado": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ArquivoAtualizado": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "DeletarAntigos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BaixarArquivo": {
      "main": [
        [
          {
            "node": "ExtrairTexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExtrairTexto": {
      "main": [
        [
          {
            "node": "IdentificaSeparador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "DeletarAntigos": {
      "main": [
        [
          {
            "node": "BaixarArquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IdentificaSeparador": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "your-uuid-here",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f700aa75bc561cef1322219378ae5cf5181962ce2249f0887c2397be7e1fb1a7"
  },
  "id": "YOUR_CREDENTIAL_ID",
  "tags": []
}